@import "../../../../styles/colors.module.scss";
.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 26px;
}

.footerLogo {
  width: 275px;

}

.footerLink {
    text-decoration: none;
    color: $mediumGray;
    transition: 0.3s;
    width: 55px;
  
    &:hover {
      color: $lightGray;
    }
  }

  @media (max-width: 575px) {
    .footer {
      padding: 26px 20px;
      gap: 20px;
    }
  }
  @media (max-width: 413px) {
    .footer {
      justify-content: center;
    }
  }

@media (max-width: 360px) and (min-width:280px){
  .footer {
    justify-content: center;
  }
  .footerLogo{
    width: 180px;
  }
  .footerLink{
    width: 30px;
  }
}

